form{
    justify-content: center;
    align-content: center;
    width: auto;
    border-radius: 20px;

    font-size: 1.6rem;
    font-family: Helvetica,Arial,  sans-serif;
}

.content-form{
    display: flex;
    justify-content: center;
    padding: 2px,3px;
    

}.content-princ{
    background-color: white;
}


.table-content{
    padding-top: 20px;
    display: flex;
        justify-content: center;

}
input{
    border: none;
    border-radius: 10px;
}
.btn-content{
    padding: top 25px; 
    display: flex;
    justify-content: center;
}
tbody,thead {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}
.rerro-content {
    
    border-color: rgb(161, 1, 1);
    background-color: rgb(248, 93, 93);
    color: antiquewhite;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;

}
.img-top{
    height: 150px;
    width: 150px;
}
