/* Estilos para el header */
header {
  background-color: #ffcccc;
  color: #333;
  padding: 20px; /* Añade un valor en píxeles para el padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #e6bebe;
}

/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px;
  height: auto; /* Ajusta la altura automáticamente */
  border-radius: 50%; /* Usa 50% para un círculo perfecto */
}

/* Estilos para la navegación */
nav {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 10px;
  margin: 5px 50px;
}


.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

/* Estilos para centrar contenido */
.center-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Estilos para el search-box */
.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-box input[type="text"] {
  border: none; /* Elimina el borde */
  padding: 5px;
  margin-right: 5px;
  width: 100%; /* Usa el 100% del ancho disponible */
}

.search-box button {
  padding: 10px;
  background-color: #d49f9f;
  border: none;
  height: 45px;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

/* Estilos para los enlaces de navegación */
.option-nav-1,
.option-nav-2 {
  color: #333;
  /* Ajusta la altura según tus necesidades */
  height: 50px;
  text-decoration: none;
  text-align: end;
}

/* Estilos para el carrito de compras */
.cart {
  display: flex;
  align-items: center;
}

.cart img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}

.cart-text {
  font-weight: bold;
}

.cart:hover .cart-text {
  color: #ff6666;
}
