/* Estilos para el header */

header {
  background-color: #ffcccc; 
  color: #333; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  background-color: #e6bebe;
}
/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px; 
  height: 45%;
  border-radius: 45%; 
 
}

/* Estilos para la navegación */
nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: inline-block;
  margin-right: 20px;
}

/* Estilos para centrar contenido */
.center-content {
  flex: 1; 
  display: flex;
  justify-content: center;
}

/* Estilos para el search-box */
.search-box {
  display: flex;
  align-items: center;
  background-color: #fff; 
  border-radius: 20px; 
  padding: 5px 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.search-box input[type="text"] {
  border: none; 
  padding: 5px; 
  margin-right: 5px; 
  width: 200px; 
}

.search-box button {
  padding: 5px 10px;
  background-color: #ff9999; 
  border: none;
  color: #fff; 
  border-radius: 20px; 
  cursor: pointer;
}

/* Estilos para los enlaces de navegación */
.option-nav-1,
.option-nav-2 {
  color: #333; 
  height: -50px;
  text-decoration: none;
  text-align: end;
}



/* Estilos para el carrito de compras */
.cart {
  display: flex;
  align-items: center;
}

.cart img {
  width: 30px;
  height: auto;
  margin-right: 5px
}

.cart-text {
  font-weight: bold
}

.cart:hover .cart-text {
  color: #ff6666; 
}

.slider-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.slides {
  display: flex;
  overflow-x: hidden;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide1:checked ~ .navigation label:nth-child(1),
#slide2:checked ~ .navigation label:nth-child(2),
#slide3:checked ~ .navigation label:nth-child(3) {
  background-color: #555;
}
