/* Estilos para los productos */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadida sombra */
  transition: transform 0.3s ease;
  background-color: #ffffffec; /* Fondo rosado */
  box-shadow: 10px 5px 5px 5px #bdbdbd;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px; /* Altura cuadrada */
  object-fit: cover; /* Para asegurar que la imagen cubra todo el contenedor */
  border-radius: 10px;
}

.card .container-text {
  padding: 15px 0;
  text-align: center;
}

.card h2 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.card button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}
